*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.services{
    width:85%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 75px auto;
}
.card{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0px 20px;
    padding: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
}
.card .icon{
    font-size: 35px;
    /* margin-bottom: 5px; */
}
.card p{
    font-size:"18px";
    margin-Bottom:"30px";
    line-Height:"1.5";
    color: #5e5e5e;
}
.button{
    font-size: 15px;
    text-decoration: none;
    color:#fff;
    background-color: rgb(238, 205, 23);
    padding: 8px 12px;
    border-radius: 5px;
    letter-spacing: 1px;
}
@media screen  and (max-width:940px) {
    .services{
        display:flex;
        flex-direction:column;
    }
    .card{
        width:85%;
        display: flex;
        margin: 20px 0px;
    }
    
}
