.background{
    min-height: 350px;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 30px;
}
.background::before{
    content: '';
    background-image: url('../Components/imgs/jimg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left:0;
    bottom:0;
    right:0;
    opacity: 0.65;
    
}
h1{
    font-size:50px;
    font-family:sans-serif;
    color:white;
    position: relative;
    text-align: center;
    
}
p{
    font-size: 15px;
    font-family:sans-serif;
    color:white;
    position: relative;
    
}
.bgrnd{
    background-color: #d8e0e3;
    min-height: 550px;

}
.bgrnd h3{
    color: rgb(28,104,137);
    
    padding: 20px;
}


.tbox{
    height:450px;
    width:350px;
    background-color: white;
    float: left;
    margin-top: 50px;
    align-items: center;
  
}
.fbox{
    height: 450px;
    width:350px;
    background-color: #051094;
    float: left;
    margin-top: 50px;
   
}