.background{
    min-height: 550px;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 30px;
}
.background::before{
    content: '';
    background-image: url('../Components/imgs/aimg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left:0;
    bottom:0;
    right:0;
    opacity: 0.45;
    
}
h1{
    font-size:50px;
    font-family:sans-serif;
    color:Black;
    position: relative;
    
}
p{
    font-size: 15px;
    font-family:sans-serif;
    color:black;
    position: relative;
}
h2{
    text-align: center;
    margin-top: 85px;
    color:rgb(28,104,137);
}
.container p{
    /* width:950px; */
    font-size: 15px;
    text-align:center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    margin: 0 auto;

}
.box{
    /* height: 650px;
    width: 980px; */
    background-color: #DBF3FA;
    margin: 0 auto;
    

}
.box h2{
    color: rgb(28,104,137);
    padding: 20px;
}
.box p{
    font-size: 15px;
    font-family: sans-serif;
    text-align: left;
    padding-bottom: 10px;
    color:"black"
}
/* .box button{
    border-radius: 25px;
    background-color: goldenrod;
    padding: 15px;
    text-align: center;
    border: none;
    margin: 0px 0px 10px 30px;
    
} */


.section{
    background-color: #0492C2;
    min-height: 550px;
    margin-top: 30px;
    padding-bottom: 15px;
}
