.backgroundimg{
    min-height: 550px;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 30px;
}
.backgroundimg::before{
    content: '';
    background-image: url('../Components/imgs/gimg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left:0;
    bottom:0;
    right:0;
    opacity: 0.45;
    
}
h1{
    font-size:50px;
    font-family:sans-serif;
    color:Black;
    position: relative;
    
}
.boxsec{
    
    background-color: #DBF3FA;
   
    
}
.boxsec h2{
    color: rgb(28,104,137);
    padding: 20px;
}
.boxsec p{
    font-size: 15px;
    font-family: sans-serif;
    text-align: left;
    padding: 15px;
    margin: 10px;
}